<script>
  // export let segment
</script>

<style>
  main {
    background: white;
    padding: 0.75em;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
  }
</style>

<main>
  <slot></slot>
</main>
